@use "../util/colors.scss" as *;
@use "../util/mixins.scss" as *;

.cart-div {
  font-family: Raleway;
  display: flex;
  flex-direction: column;
  //align-items: center;
  margin-left: 0.75rem;
  margin-right: 0.75rem;

  box-shadow: 2px 5px 10px #c0bcbe;

  h2 {
    background-color: $blue;
    margin: 0;
    padding: 3%;
    color: $white;
    font-weight: bold;
  }

  // h3 {
  //   font-weight: bold;
  // }

  .product-container {
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-radius: 3%;
    box-shadow: 2px 5px 10px #c0bcbe;
    height: 15rem;
    align-items: center;
    justify-content: space-between;

    .top {
      display: flex;
      flex-direction: row;

      width: 100%;
      justify-content: space-between;

      img {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
      }
      .product-info {
        // center the text
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;

        .info-wrapper {
          h3 {
            font-weight: 500;
            font-family: "Raleway";
            color: $black;
          }
          #product-name {
            font-weight: bolder;
            color: #4d90a8;
            font-size: 24px;
          }
        }
      }
    }

    .bottom {
      flex-direction: row;
      /* align-content: center; */
      align-items: center;
      display: flex;
      width: 100%;
      justify-content: space-between;
      // .product-info {
      //   display: flex;
      //   flex-direction: row;
      //   justify-content: space-between;

      //   color: $blue;
      //   background-color: #f7f3f5;
      //   height: 100%;

      //   .info-wrapper {
      //     height: 100%;
      //     // center the text vertically and horizontally
      //     display: flex;
      //     flex-direction: column;
      //     justify-content: center;
      //     align-items: center;
      //     padding: 1rem;

      //     h3 {
      //       margin: 0.5rem 0;
      //     }
      //   }

      //   // #product-price {
      //   //   font-size: 1.15rem;
      //   // }

      //   // .button {
      //   //   margin: 0.2rem 0;
      //   // }
      // }

      #rmve {
        color: $red;
      }

      .button-container {
        display: flex;
        flex-direction: column;

        color: $blue;
        text-decoration: underline;
      }
    }
  }
}

.empty-cart {
  p {
    height: 5rem;
    text-align: center;
    // center the text vertically
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    font-family: "Raleway";
    font-weight: 500;
  }
}
