@use "../util/colors.scss" as *;
@use "../util/mixins.scss" as *;

.popular {
    .products {
        @include center;
        flex-wrap: wrap;
        padding: 1rem;
        gap: 1rem;
    }

    
}

// .footer-container {
//     // @include center;
//     // margin-bottom: 9.8rem;
// }

