@use "../util/colors.scss" as *;
@use "../util/mixins.scss" as *;

.popular {
    .products {
        @include center;
        flex-wrap: wrap;
        padding: 1rem;
        gap: 1rem;
    }

    .action-wrapper {
        display: flex;
        margin-top: 1rem;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        .page-button {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: lightblue;
                }
    }
}

// .footer-container {
//     // @include center;
//     // margin-bottom: 9.8rem;
// }

