@use "../util/colors.scss" as *;
@use "../util/mixins.scss" as *;

main.popular {
    .products {
        @include center;
        flex-wrap: wrap;
        padding: 1rem;
        gap: 1rem;
    }

    .button-wrapper {
        @include center;
        margin-top: 1rem;
    }
}

