@use "../util/colors.scss" as *;
@use "../util/mixins.scss" as *;

main.store {
    z-index: 0;
    padding: 1rem;
    flex-grow: 2;
    display: flex;
    flex-direction: column;

    form {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-grow: 2;
        gap: 1rem;

        h3 {
            text-align: center;
            color: $blue;
            font-family: "Raleway";
        }   

        .center {
            flex-grow: 2;
            display: flex;
            flex-direction: column;
            gap: .5rem;

            .side-by-side {
                display: flex;
                align-items: center;
                gap: .5rem;
                
                .store-name {
                    flex-grow: 2
                }

                label.select-logo {
                    @include center;
                    width: 7.5rem;
                    height: 7.5rem;
                    color: $white;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    font-family: "Raleway";
                    border-radius: 50%;

                    input {
                        display: none;
                    }
                }
            }
        }
    }
}

main.store-display {
    color: $blue;
    font-family: "Raleway";
    flex-grow: 2;
    padding: 2rem;

    .top {
        display: flex;
        align-items: flex-start;
        // padding: 0 1rem;
        gap: 1rem;

        .image {
            width: 7.5rem;
            height: 7.5rem;
            border-radius: 50%;
            border: .25rem solid $blue;

            img {
                border-radius: 50%;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .details {
            flex-grow: 2;

            .name {
                font-size: 1.75rem;
            }

            .owner {
                font-size: 1rem;
            }
        }
    }
    
    .desc {
        padding: 2rem 0;
        font-size: 1rem;
        
        .title {
            font-size: 1rem;
            text-decoration: underline;
            font-family: "Raleway";
            font-variation-settings: "wght" 200;
        }

        p.content {
            inline-size: 100%;
            overflow-wrap: break-word;
            padding: .25rem 1rem;
        }
    }

    .products-wrapper {
        position: relative;

        .products {
            border-radius: 2rem;
            border: solid $blue .25rem;
            display: flex;
            flex-direction: column;
            height: 30rem;
            overflow-y: scroll;
            position: relative;
            
            .store-product {
                padding: 1rem 1rem;
                display: flex;
                gap: 1rem;
                border-top: solid $blue .125rem;
                border-bottom: solid $blue .125rem;
    
                &:first-child {
                    border-top: none;
                }
    
                &:last-child {
                    border-bottom: none;
                }
    
                .image {
                    width: 5rem;
                    height: 5rem;
                    border-radius: 50%;
                    border: .25rem solid $blue;
                }
        
                .details {
                    flex-grow: 2;
    
                    .product-name {
                        font-size: 1.25rem;
                    }
        
                    .product-desc {
                        font-size: 1rem;
                    }
                }
            }
        }

        .add {
            position: absolute;
            top: -.5rem;
            right: -.5rem;
            width: 2rem;
            height: 2rem;
            background-color: $blue;
            border-radius: 50%;
            display: grid;
            justify-content: center;
            align-content: center;

            .hor {
                width: 1.25rem;
                height: .25rem;
                background-color: $white;
                grid-row: 1 / 2;
                grid-column: 1 / 2;
                align-self: center;
                border-radius: .25rem;
            }

            .ver {
                width: .25rem;
                height: 1.25rem;
                background-color: $white;
                grid-row: 1 / 2;
                grid-column: 1 / 2;
                justify-self: center;
                border-radius: .25rem;
            }
        }
    }

    .delete-store {
        width: 100%;
        margin-top: 2rem;

        .delete-button {
            width: 100%;
            padding: 1.5rem;
            background-color: $blue;
            border-radius: 20rem;
            color: $white;
            font-family: "Raleway";
            font-size: 1.25rem;
        }
    }
}