@use "../../util/colors.scss" as *;
@use "../../util/mixins.scss" as *;

.button {
    color: #4D90A8;
    font-weight: 600;
    /* color: #F7F3F5; */
    font-family: "Raleway";
    width: 100%;
    font-size: 1.25rem;
    height: 3rem;
    border-radius: 1.5rem;
}