@use "../../util/colors.scss" as *;
@use "../../util/mixins.scss" as *;

.section-title {
    @include center;
    gap: 1rem;
    padding: .5rem 0;

    h2 {
        font-family: "Playfair Display";
        font-size: 2rem;
        color: $blue;
    }
}