@use "../util/colors.scss" as *;
@use "../util/mixins.scss" as *;

.footer-container {

  margin-bottom: 9.8rem;
  height: fit-content;

  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: $black;

  color: $white;

  padding: 1rem;

  // .copy-right {
  //   margin-top: 5px;
  //   margin-bottom: 5px;
  // }

  // .docs {
  //   display: flex;
  //   #doc {
  //     text-decoration: underline;
  //   }
  // }

  // .divider {
  //   padding-left: 10px;
  //   padding-right: 10px;
  // }


  button.footer-section {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 1rem;
    background: none;

    .footer-section-title {
      font-family: "Playfair Display";
      font-size: 1.5rem;
      margin-right: 1rem;
    }

    .footer-section-links {
      display: flex;
      flex-direction: column;
      > a {
        // margin-bottom: 1rem;
        text-decoration: none;
        color: $white;
        font-family: "Playfair Display";
        font-size: 1rem;
      }
    }
  }


}
