// shades of primary color
$primary-1: hsl(0, 0%, 17%);
$primary-2: hsl(0, 0%, 27%);
$primary-3: hsl(0, 0%, 37%);
$primary-4: hsl(0, 0%, 48%);
$primary-5: hsl(0, 0%, 60%);
$primary-6: hsl(0, 0%, 70%);
$primary-7: hsl(0, 0%, 76%);
$primary-8: hsl(0, 0%, 81%);
$primary-9: hsl(0, 0%, 88%);
$primary-10: hsl(0, 0%, 96%);

// shades of seconday color

$secondary-0: hsl(206, 46%, 21%);
$secondary-1: hsl(206, 46%, 29%);
$secondary-2: hsl(206, 46%, 37%); //blue i found on coolor gen site
$secondary-3: hsl(206, 46%, 45%);
$secondary-4: hsl(206, 46%, 52%);
$secondary-5: hsl(206, 46%, 58%);
$secondary-6: hsl(206, 46%, 67%);
$secondary-7: hsl(206, 46%, 74%);
$secondary-8: hsl(206, 46%, 81%);
$secondary-9: hsl(206, 46%, 88%);

// dark shades of grey color

$grey-0: hsl(210, 30%, 21%);
$grey-1: hsl(210, 30%, 29%);
$grey-2: hsl(210, 30%, 37%);
$grey-3: hsl(210, 30%, 45%);
$grey-4: hsl(210, 30%, 52%);
$grey-5: hsl(210, 30%, 60%);
$grey-6: hsl(210, 30%, 67%);
$grey-7: hsl(210, 30%, 74%);
$grey-8: hsl(210, 30%, 81%);
$grey-9: hsl(210, 30%, 88%);

// lighter shades of grey color

// misc color
$white: #eee;
$black: #222;
$red-dark: hsl(0, 67%, 44%);
$red-light: hsl(0, 67%, 57%);
$green-dark: hsl(125, 59%, 43%);
$green-light: hsl(125, 86%, 57%);
