@use "../../util/colors.scss" as *;
@use "../../util/mixins.scss" as *;

.collapsible {
  margin: .5rem 0;
  // border-radius: 1rem;
  // padding: 1rem;
  // background-color: $blue;
  border-radius: 1rem;
  height: fit-content;
  width: 80vw;
  padding: .25rem;
  .header {
    border-radius: 1rem;

    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    // border-top: 1px solid black;
    // padding: .5rem;
  }
  .collapsed-panel {
    padding: 0 1rem;

    .content{
      display: flex;
      flex-direction: column;
      // margin: 1rem 0;
      a {
        padding: .25rem 0;
      }
    }
  }
}